
.latestNewsSection{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.latestNewsCaption{
    /* background-color: bisque; */
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
    margin-top: 2.1rem;
}

.HeadingNews{
    /* border: 2px solid black; */
    font-size: 46px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.87);
}

.latestNewsDotLiine{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 6px;
}
.latestNewsDot{
    /* border: 2px solid green; */
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: linear-gradient(148deg, rgb(132, 255, 255) 0%, rgb(209, 196, 233) 46%, rgb(248, 187, 208) 100%);
}
.latestNewsLine{
    /* border: 2px solid blue; */
    height: 12px;
    width: 70px;
    border-radius: 16px;
    background: linear-gradient(148deg, rgb(132, 255, 255) 0%, rgb(209, 196, 233) 46%, rgb(248, 187, 208) 100%);
}