@media only screen and (max-width:990px){
    #gainFeatueHeading{
        font-size: 120px !important;
    }
    .mainStackGainPosition{
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: auto;
    }
  .leftStackGainPosition{
        display: none !important;
  }
  .RightGainPosition{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gainActionLowerStack{
    /* border: 2px solid blue; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #gainYoutube{
    /* border: 2px solid black; */
    width: 100%;
  }
}


@media only screen and (max-width:695px){
    #gainFeatueHeading{
        font-size: 80px !important;
    }
}

@media only screen and (max-width:480px){
    #gainFeatueHeading{
        font-size: 40px !important;
        /* border: 2px solid red; */
        height: auto;
    }
}