body{
    background-color: rgb(131, 176, 124);
}
.Accordion{
    background-color: rgb(221, 134, 27);
}
.Box{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}