body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainNav{
    border: 2px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: green;
    color: aliceblue;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            list-style: none;
            cursor: pointer;

        }
    }
}