body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homeSectioArea{
    /* border: 2px solid red; */
    width: 80%;
    position: relative;
    left: 19.5%;
    display: flex;
    justify-content: start;
    align-items: start;
}